<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423191634316-ges50jtu2747thnpq77sk2hf8lnfn7qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423191634316-ges50jtu2747thnpq77sk2hf8lnfn7qt</string>
	<key>API_KEY</key>
	<string>AIzaSyBjJvECRAzFrwyIwMeSm5g0WyXaZ99SaEs</string>
	<key>GCM_SENDER_ID</key>
	<string>423191634316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlvn.CovidInfo</string>
	<key>PROJECT_ID</key>
	<string>covidinfo-97186</string>
	<key>STORAGE_BUCKET</key>
	<string>covidinfo-97186.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423191634316:ios:d2a5feb8c76086912276a9</string>
</dict>
</plist>