<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767464789377-6d0e3hlsh4ce6fnnddv304hgdna0etld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767464789377-6d0e3hlsh4ce6fnnddv304hgdna0etld</string>
	<key>API_KEY</key>
	<string>AIzaSyCKrG-ZfeTojFxt20Zp7KEJI-AW1SNg83c</string>
	<key>GCM_SENDER_ID</key>
	<string>767464789377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlvn.CovidInfo</string>
	<key>PROJECT_ID</key>
	<string>covidinfo-25f8b</string>
	<key>STORAGE_BUCKET</key>
	<string>covidinfo-25f8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767464789377:ios:5db7abccbf6a80105c8480</string>
</dict>
</plist>